/* work Sans Font from goggle fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

/* Shared styles */

*{

font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    padding:20px 25px ;
    cursor: pointer;
    border:0;
    
}
header {
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
color: #131313;
font-size:2rem;
font-weight: 700;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    font-size: 1rem;
}
nav li a  {
    text-decoration: none;
    color: #424242;
}

/* banner Style */
.banner-content {
max-width: 800px;
text-align: center;
margin: 0 auto;

}
.banner-title {
    font-size: 4rem;
    color:  #131313;  
    text-align: center;
    font-weight: 700;
}
.banner-description {
    color:#727272;
    font-size: 16px;
    font-weight: 400;

}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/* for responsive */
/* responsive for mobile devices */
@media screen and (max-width: 768px) {
    header{
     padding: 20px;   
    }
    nav {
        flex-direction: column;
    }
    nav >ul {
        flex-direction: column;
    }
}
/* responsive for medium (tablet) devices */
@media screen and (min-width: 768px) and (max-width:960px){
    header{
        padding: 50px;   
       }
       nav {
           flex-direction: column;
       }
   
}

    /* main Section */
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    /* teams styles */
    .teams-container {
        display: flex;
        align-items: center; 

    }
    .teams-image-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title {

    font-size: 2.8rem;

}
.teams-title  quick-list {
   color:#727272; 
}


